@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


html {
    scroll-behavior: smooth;
}

.active {
    color: red !important;
    border-bottom: "3px solid #ff5733";
    padding-bottom: "3px";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

