@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

.active {
    color: red !important;
    border-bottom: "3px solid #ff5733";
    padding-bottom: "3px";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

